<a href="https://colab.research.google.com/github/sambhajizambre/Project/blob/main/capstone%20project%20_bengaluru_cafe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import pandas as pd
import numpy as np
import datetime as dt

In [124]:
df=pd.read_csv('/content/drive/MyDrive/python/Bangalore_Cafe_Zomato.csv')
df.head(10)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes,Banashankari
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Cafes,Banashankari
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Cafes,Banashankari
5,The Coffee Shack,Yes,Yes,4.2/5,164,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500,Cafes,Banashankari
6,Caf-Eleven,No,No,4.0/5,424,Banashankari,Cafe,"Sandwich, Omelette, Ice Tea, Virgin Mojito, Ho...","Cafe, Continental",450,Cafes,Banashankari
7,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Cafes,Banashankari
8,Cafe Vivacity,Yes,No,3.8/5,90,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650,Cafes,Banashankari
9,Catch-up-ino,Yes,No,3.9/5,133,Banashankari,Cafe,"Momos, Mushroom Bruschettas, Jalapeno Cheeseba...","Cafe, Fast Food, Continental, Chinese, Momos",800,Cafes,Banashankari

In [125]:
df.tail(10)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
4367,Cafe Coffee Day,Yes,No,3.6 /5,45,Whitefield,Cafe,"Sandwiches, Brownie",Cafe,650,Dine-out,Whitefield
4368,Fashion Knack Cafe,No,No,3.7 /5,18,Whitefield,Cafe,NaN,"Cafe, Burger, Sandwich",250,Dine-out,Whitefield
4369,Butterly Cafe,No,No,3.1 /5,14,Whitefield,Cafe,NaN,Cafe,550,Dine-out,Whitefield
4370,Spice Boulevard,No,No,3.9 /5,89,Whitefield,Cafe,"Sandwich, Pancakes, Garlic Bread, Coffee, Nach...","Cafe, Continental, Chinese",700,NaN,NaN
4371,The Waverly Express,No,No,3.5 /5,12,Whitefield,Cafe,NaN,Cafe,650,Dine-out,Whitefield
4372,Tata Cha,Yes,No,NEW,0,Whitefield,Cafe,NaN,"Cafe, Tea, North Indian",500,Dine-out,Whitefield
4373,Teashot,No,No,2.9 /5,24,Whitefield,Cafe,NaN,Cafe,150,Dine-out,Whitefield
4374,The Coffee Bean & Tea Leaf,Yes,No,3.0 /5,38,Whitefield,Cafe,NaN,"Cafe, Coffee",700,Dine-out,Whitefield
4375,Cafe Thulp,Yes,No,3.6 /5,57,"ITPL Main Road, Whitefield",Cafe,"Burgers, Pasta Alfredo, Pulled Pork Burger, Pizza","Cafe, Burger, Italian, Salad","1,000",Dine-out,Whitefield
4376,Re:fuel- Aloft Bengaluru Cessna Business Park,No,No,NaN,0,Bellandur,"Cafe, Bakery",NaN,"Bakery, Beverages, Cafe, Coffee, Desserts, San...","1,000",Dine-out,Whitefield

In [126]:
df.describe()

              votes
count   4377.000000
mean     436.056203
std     1100.397778
min        0.000000
25%       24.000000
50%       99.000000
75%      450.000000
max    14726.000000

In [127]:
df.shape

(4377, 12)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4377 entries, 0 to 4376
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         4377 non-null   object
 1   online_order                 4377 non-null   object
 2   book_table                   4377 non-null   object
 3   rate                         4126 non-null   object
 4   votes                        4377 non-null   int64
 5   location                     4377 non-null   object
 6   rest_type                    4377 non-null   object
 7   dish_liked                   2881 non-null   object
 8   cuisines                     4377 non-null   object
 9   approx_cost(for two people)  4332 non-null   object
 10  listed_in(type)              3713 non-null   object
 11  listed_in(city)              3713 non-null   object
dtypes: int64(1), object(11)
memory usage: 410.5+ KB

In [129]:
df.isnull().sum()

name                              0
online_order                      0
book_table                        0
rate                            251
votes                             0
location                          0
rest_type                         0
dish_liked                     1496
cuisines                          0
approx_cost(for two people)      45
listed_in(type)                 664
listed_in(city)                 664
dtype: int64

In [135]:
df1=df.groupby('location')
df1.first()

,name,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(city)
location,,,,,,,,,,
BTM,Hearts Unlock Cafe,No,No,3.2/5,11,Cafe,"Poha, Coffee, Chai, Rolls, Ginger Tea, Aloo Pa...","Cafe, Healthy Food",500,Bannerghatta Road
Banashankari,San Churro Cafe,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Banashankari
Banaswadi,Cafe Nibras,No,No,3.4/5,10,Cafe,"Coffee, Chicken Burger, Burgers, Brownie, Carr...","Cafe, Continental",400,Frazer Town
Bannerghatta Road,Tisano Cafe,Yes,No,3.8/5,54,Cafe,"Mocktails, Peri Peri Chicken Pizza, Wings, Pas...","Cafe, Fast Food, Chinese, Continental",500,Bannerghatta Road
Basavanagudi,Redberrys,Yes,No,4.0/5,219,Cafe,"Pizza, Fries, Anjeer Ice Cream, Sandwiches, Ge...","Cafe, Italian",600,Banashankari
...,...,...,...,...,...,...,...,...,...,...
Vasanth Nagar,The Culinarium,No,No,3.7/5,19,"Cafe, Dessert Parlor","Peri Peri Chicken, Shikanji, Peri Peri Pizza, ...","Cafe, Desserts, Beverages","1,100",Brigade Road
Vijay Nagar,Cafe Coffee Day,Yes,No,3.5 /5,36,Cafe,None,"Cafe, Fast Food",900,Rajajinagar
Whitefield,Bloomsbury's Global Kitchen & Bakehouse,Yes,Yes,4.5/5,733,"Cafe, Dessert Parlor","Pizza, Cheesecake, Burgers, Pasta, Waffles, Ch...","American, Cafe, Continental, French, Burger, M...",900,Brookefield
Wilson Garden,Cafe Coffee Day,No,No,NEW,0,Cafe,None,"Cafe, Fast Food",900,Basavanagudi
Yeshwantpur,Tuckinto,Yes,No,3.8 /5,30,Cafe,None,Cafe,400,Malleshwaram

In [131]:
df=df.drop('listed_in(type)',axis=1)

In [142]:
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(city)
0,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Banashankari
1,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN
2,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Banashankari
3,CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Down The A...,Yes,No,4.1/5,402,Banashankari,Cafe,"Waffles, Pasta, Crispy Chicken, Honey Chilli C...",Cafe,500,Banashankari
4,Cafe Shuffle,Yes,Yes,4.2/5,150,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600,Banashankari

In [141]:
n = df.nunique(axis=0)
n

name                           494
online_order                     2
book_table                       2
rate                            51
votes                          691
location                        64
rest_type                        9
dish_liked                     483
cuisines                       251
approx_cost(for two people)     25
listed_in(city)                 30
dtype: int64

In [156]:
n = df.groupby('listed_in(city)')
n.first()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people)
listed_in(city),,,,,,,,,,
BTM,Mudpipe Cafe,Yes,Yes,4.5/5,1874,BTM,Cafe,"Chaat, Nachos, Peri Peri Pizza, Wedges, Milk S...","Cafe, Continental, Burger",900
Banashankari,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800
Bannerghatta Road,Crave Bit Cafe,No,No,NEW,0,JP Nagar,Cafe,"Mocktails, Peri Peri Chicken Pizza, Wings, Pas...",Cafe,600
Basavanagudi,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800
Bellandur,Story Time,No,No,3.7/5,15,Bellandur,"Cafe, Quick Bites","Salads, Salad, Sandwiches, Chicken Grill","North Indian, South Indian, Andhra, Cafe",500
Brigade Road,The Flying Squirrel,No,No,4.0/5,24,Brigade Road,Cafe,"Burgers, Sandwich, Peri Peri Chicken Satay, Fr...","Cafe, Bakery, Beverages, Burger, Continental",450
Brookefield,Breads and Banter,No,Yes,4.2/5,65,Brookefield,"Cafe, Bakery","Tea, Pizza, New York Cheesecake, Hot Chocolate...","Cafe, Bakery, Fast Food",400
Church Street,Moto Store & CafÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ©,Yes,No,4.2/5,382,Ulsoor,Cafe,"Wedges, Maggi, Burgers, Waffles, Margherita Pi...","Pizza, Italian, Cafe, Burger, Finger Food, Fas...",500
Electronic City,The Platonic Cafe,Yes,No,NEW,0,Electronic City,Cafe,"Coffee, Sandwich, Peri Peri Fries, Peri Peri S...","Cafe, Beverages",500
Frazer Town,Mambos Cafe,No,No,3.9/5,62,Frazer Town,Cafe,"Burgers, Fries, Pizza, Pasta","Cafe, Continental, Beverages, Fast Food","1,100"
HSR,Amour Fine Patisserie,Yes,Yes,4.0/5,82,HSR,"Cafe, Dessert Parlor","Macaroon, Coffee, Cappuccino, Pinacolada, Ferr...","Cafe, Desserts, Continental",500
Indiranagar,Cafe Max,No,No,4.3/5,1651,Indiranagar,"Cafe, Casual Dining","Pasta, Wine, Mocktails, Coffee, Virgin Mojito,...","Cafe, Continental, Italian, German, French, Sp...","1,300"
JP Nagar,Crave Bit Cafe,No,No,NEW,0,JP Nagar,Cafe,"Mocktails, Pizza, Pasta Alfredo, Burgers, Nach...",Cafe,600
Jayanagar,Crave Bit Cafe,No,No,NEW,0,JP Nagar,Cafe,"Pasta, Pizza, Mocktails",Cafe,600
Kalyan Nagar,The Roastery,No,No,4.3/5,167,Kalyan Nagar,Cafe,"Coffee, Caramel Macchiato, Cappuccino, Cafe Mo...",Cafe,500
Kammanahalli,Starbucks,No,No,3.8/5,15,Kammanahalli,Cafe,"Burgers, Popcorn, Pancakes, Brownie, Nachos, P...","Cafe, Desserts",700
Koramangala 4th Block,Foxtrot - House of Subculture,No,Yes,4.4/5,369,Koramangala 3rd Block,"Cafe, Lounge","Cocktails, Fish, Momos, Mocktails, Seafood Ris...","Cafe, American, Asian, North Indian","1,000"
Koramangala 5th Block,Dyu Art Cafe,No,No,4.5 /5,3845,Koramangala 5th Block,Cafe,"Coffee, Chocolate Mocha, Hot Chocolate, Chocol...","Cafe, Italian, Fast Food",800
Koramangala 6th Block,Bearfoot Cafe,Yes,No,4.2 /5,177,Koramangala 6th Block,Cafe,"Cappuccino, Burgers, Fish, Pizza, Coffee, Whit...",Cafe,600
Koramangala 7th Block,Lot Like Crepes,Yes,No,4.6 /5,1026,Koramangala 7th Block,"Cafe, Dessert Parlor","Paneer Peri Peri, Pancakes, Fajitas, Sweet Cre...","Cafe, Desserts, Continental",550
Lavelle Road,Cafe Azzure,Yes,Yes,4.2 /5,2720,MG Road,Cafe,"Pasta, Wedges, Pizza, Nachos, Mocktails, Burge...","Cafe, Continental, Italian, Burger","1,200"
MG Road,Fabcafe,Yes,Yes,4.2 /5,61,MG Road,Cafe,"Hot Chocolate, Waffles, Chicken Pizza, Brownie...","Cafe, Healthy Food",800
Malleshwaram,Stevie's,Yes,No,4.0 /5,69,Malleshwaram,Cafe,"Pasta, Chicken Steak, Pizza, Pink Lemonade, Na...",Cafe,500
Marathahalli,Breads and Banter,No,Yes,4.3 /5,72,Brookefield,"Cafe, Bakery","Tea, Pizza, New York Cheesecake, Hot Chocolate...","Cafe, Bakery, Fast Food",400
New BEL Road,Truffles,No,No,4.7 /5,3912,New BEL Road,"Cafe, Casual Dining","Burgers, Pasta Arrabiata, Ferrero Rocher Milks...","Cafe, American, Burger, Steak",900
Old Airport Road,House Of Seitan,Yes,No,4.0 /5,38,Indiranagar,Cafe,"Burgers, Sandwich, Sandwiches, Salads","Healthy Food, Burger, Beverages, Cafe, Sandwic...",700
Rajajinagar,Troll Cafe,No,No,3.5 /5,8,Rajajinagar,Cafe,"Burgers, Pizza, Coffee, Cappuccino, Fries",Cafe,400
Residency Road,Japan Travel Cafe Azuki,No,No,4.3 /5,74,Residency Road,Cafe,"Miso Soup, Tempura","Cafe, Japanese",400
Sarjapur Road,Eating Love,Yes,No,4.3 /5,160,Sarjapur Road,Cafe,"Pizza, White Sauce Pasta","Cafe, Italian, Pizza",800
Whitefield,Cafesta,Yes,No,4.3 /5,590,Whitefield,Cafe,"Burgers, Waffles, Chocolava, Coffee, Pasta, Ch...","Cafe, Italian, Fast Food, Desserts",550

In [161]:
df = df.groupby('listed_in(city)')['quantity'].nunique()

KeyError: ignored